body
{
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
}
.topnav
{
    position: absolute; top: 10px; right: 10px; 
}
h1.center
{
    text-align: center; margin-top: 40px;
}
p.lead
{
    text-align: justify;
}
.columns
{
    display: flex; gap: 1cm; margin-top: 20px;
}
.column
{
    flex: 1;
}
@media (max-width: 700px)
{
    .columns
    {
        flex-direction: column;
    }
}

a:hover {
color: red;
}